.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-page h1 {
  color: #fff;
  margin-bottom: 30px;
  margin-top: 10px; 
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #1c1c1c;
  border: 1px solid #484949;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #fff;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
