{
  "model_config_list": [
    {
      "name": "model_name",
      "base_path": "/path/to/model",
      "model_platform": "tensorflow",
      "signature_def_map": {
        "serving_default": {
          "inputs": {"input": "input_tensor:0"},
          "outputs": {"output": "output_tensor:0"},
          "method_name": "tensorflow/serving/predict"
        }
      },
      "custom_prediction_signature": {
        "function_name": "predictions_to_string",
        "inputs": {"input": "input_tensor:0"},
        "outputs": {"output": "output_tensor:0"}
      }
    }
  ]
}
